{% extends "base.html" %}
{% load static %}

{% block title %} HOME
{% endblock %}


{% block content %}
     <header>
       <h1> <a href="">My Personal Blog</a> </h1>
     </header>
     <div class="container pt-3 ">
       
         {% for i in object_list %}
             <div class="container p-3 text-white border border-dark">
             <h3><a href="{% url 'detail' i.pk %}">{{ i.title }}</a></h3>
               <p>{{ i.body }}</p>
            </div>
            <br><br>
         {% endfor %}
        
        
     </div>
     
{% endblock %}
