{% extends "base.html" %}
{% load humanize %} 
{% load static %}

{% block title %} HOME
{% endblock %}


{% block content %}
     <header>
       <h1> <a href="">My Personal Blog</a> </h1>
     </header>
     <div class="container pt-3 ">
       
         {% for i in object_list %}
         {%  if i.approved_comment%}
             <div class="container p-3 text-white border border-dark">
             <h3><a href="{% url 'detail' i.pk %}">{{ i.title }}</a></h3>
               <p>{{ i.body }}</p> <br>
               <div class="date">{{ i.created_date | naturaltime }}</div>
              <strong>{{ i.author }}</strong>
            </div>
            <a href="{% url 'detail' i.pk %}">Comments: {{ i.comments.count }}</a>
            <br><br>
          {% endif %}
         {% endfor %}
        
         <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
      
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>  
     </div>
     
{% endblock %}
 